
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/italiano.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logga {
    background-color: #9cd35e; 
    padding: 10px;
    font-weight: bold;
    line-height: 1.2;
    margin-right: 20px;
    color: white;
}

.logga .green { color: #2d5a27; }
.logga .red { color: #b22222; }

nav {
    background-color: blue;
    padding: 15px;
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: lime;
    text-decoration: underline;
}
nav a:hover {
    color: red;
}

.pasta img {
    width: 80%;
    max-width: 800px;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.pasta {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; 
    padding: 20px;
}

.Ingredi {
    background-color: red;  
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    text-align: center;

}

.Ingredi img {
    width: 80px;  
    margin-bottom: 10px;
    border-radius: 5px;
}
.pastabild img {
    width: 80%;
    max-width: 800px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.receptsec {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.steg {
  background-color: #ff0000;
  color: black;
  width: 1200px;
  padding: 20px;
  border-radius: 10px;
}


.recept {
    background-color: #ff0000;
    color: black;
    width: 250px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: block;
    border-radius: 20px;
}

footer {
    background-image: url(img/italiano.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    width: 300px;
}   